@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
}
.nabla-uniquifier {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
}

p {
    font-family: Nabla;
}
.p1 {
    font-family: bungee-spice-regular;
}
.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}
